<footer class="container" style="nargin-top: 100px;">
  <p class="text-center">Copyright @2017 Rails101
    <br>Design by
    <a herf="http://courese.growthschool.com/courses/rails-101/" targer=_new>xdite</a>
  </p>
</footer>
